uid = nobody
gid = nogroup
max connections = 30
syslog facility = daemon
socket options = SO_KEEPALIVE
timeout = 7200

read only = true
ignore nonreadable = true
strict modes = false

[{{ mirror_archive }}]
  path = /srv/mirrors/{{ mirror_archive }}/
#  auth users = *
#  secrets file = /home/archvsync/rsyncd/debian.secrets

