# {{ ansible_managed }}

{% for host in groups[inventory_group | mandatory] | sort %}
object Host "{{ host }}" {
  import "generic-host"
  address = "{{ hostvars[host].icinga2_agent_address }}"
  address6 = "{{ hostvars[host].icinga2_agent_address6 }}"
  groups = [
{%   for group in group_names | sort %}
{%     if group.startswith('label_') %}
    "{{ group[6:] }}",
{%     endif %}
{%   endfor %}
  ]
  vars.ping_wrta = 500
  vars.ping_wpl = 15
  vars.ping_crta = 1000
  vars.ping_cpl = 30
}
{% endfor %}
