# {{ ansible_managed }}

object Endpoint "{{ inventory_hostname }}" { }
object Zone "{{ inventory_hostname }}" {
  endpoints = [ "{{ inventory_hostname }}" ];
  parent = "{{ icinga2_master_name }}";
}
object Endpoint "{{ icinga2_master_name }}" {
  host = "{{ icinga2_master_host }}"
}
object Zone "{{ icinga2_master_name }}" {
  endpoints = [ "{{ icinga2_master_name }}" ];
}
