# {{ ansible_managed }}

scrape_configs:
  - job_name: 'prometheus'
    honor_labels: true

    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: '{{ inventory_hostname.split(".")[0] }}'

{% if 'gce' in group_names %}
  - job_name: 'gcp-lb'
    honor_labels: true

    static_configs:
      - targets: ['localhost:9121']
        labels:
          purpose: 'loadbalancer'
          instance: 'b'

    metric_relabel_configs:
      - source_labels: [extra]
        target_label: archive
      - source_labels: [urlid]
        target_label: archive

{% endif %}
  - job_name: 'node'
    honor_labels: true

    static_configs:
      - targets: [ 'localhost:9100' ]
        labels:
          instance: '{{ inventory_hostname.split(".")[0] }}'
          purpose: 'monitor'
{% for host in groups[inventory_group | mandatory] | intersect(groups['mirror-backend']) | sort %}
      - targets: [ '{{ hostvars[host].hostname_connect }}:9100' ]
        labels:
          archive: '{{ hostvars[host].mirror_archive }}'
          instance: '{{ hostvars[host].inventory_hostname.split(".")[0] }}'
          purpose: 'backend'
          region: '{{ hostvars[host].cloud_region }}'
{% endfor %}
{% for host in groups[inventory_group | mandatory] | intersect(groups['mirror-syncproxy']) | sort %}
      - targets: [ '{{ hostvars[host].hostname_connect }}:9100' ]
        labels:
          archive: '{{ hostvars[host].mirror_archive }}'
          instance: '{{ hostvars[host].inventory_hostname.split(".")[0] }}'
          purpose: 'syncproxy'
{% endfor %}

  - job_name: 'nginx'
    honor_labels: true

    static_configs:
{% for host in groups[inventory_group | mandatory] | intersect(groups['mirror-backend']) | sort %}
      - targets: [ '{{ hostvars[host].hostname_connect }}:9101' ]
        labels:
          archive: '{{ hostvars[host].mirror_archive }}'
          instance: '{{ hostvars[host].inventory_hostname.split(".")[0] }}'
          purpose: 'backend'
          region: '{{ hostvars[host].cloud_region }}'
{% endfor %}
